/*********************************************

Raving Redactionist CSS.

**********************************************/

/* Just some general syling of the page for aesthetics */
body {
  font-family: Courier, monospace;
  margin: 120px;
}

div {
  margin-top: 1em;
  font-size: 16px;
  line-height: 25px;
}

#count {
  font-size: 2em;
  margin-bottom: 50px;
}

/* Redacted elements need to be blanked out */
.redacted {
  background-color: #111111;
  color: transparent;
  text-decoration: none;
}

/* Revealed elements need to be highlighted because it's a disaster! */
.revealed {
  background-color: transparent;
  text-decoration: underline;
  color: red;
}

/* Found elements need to be highlighted to be noticed! */
.found {
  background-color: red;
  color: blue;
}
