body {
  padding: 0;
  margin: 0;
  position: relative;
}

#game-start {
  position: absolute;
  z-index: 7;
}

#ui {
  position: absolute;
  z-index: 3;
}

#video-list {
  /* background: #000; */
  padding-top: 5px;
  margin-top: 5px;
  width: 330px;
  height: 600px;
  position: absolute;
  top: 80px;
  right: 35px;
  z-index: 4;
  overflow: hidden;
}

.video {
  /* background: #000; */
  margin-left: -10px;
  margin-top: 10px;
  width: 320px;
  height: 130px;
  z-index: 3;
}

#video-list li {
  list-style-type: none;
}

.container {
  /* background: #000; */
  padding: 20px;
  width: 845px;
  height: 520px;
  position: absolute;
  top: 80px;
  left: 85px;
  z-index: 4;
  overflow: hidden;
}

#container-image {
  top: 0;
  left: 0;
  position: absolute;
  width: 1325px;
  height: 560px;
}

#brain {
  position: absolute;
  width: 500px;
  top: 170px;
  left: 320px;
  z-index: 5;
}

#girl-back {
  position: absolute;
  width: 620px;
  top: 125px;
  left: 260px;
  z-index: 4;
}

#circle {
  /* background: #000; */
  position: absolute;
  top: 95px;
  right: 490px;
  z-index: 6;
}
