/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

@import url('https://fonts.googleapis.com/css?family=Electrolize');

body {
  padding: 0;
  margin: 0;
}

#dialog {
  font-family: Electrolize;
  font-size: 20px;
  line-height: 30px;
}

#game {
  /* To have all the elements inside game id stay on top of each other and
  have a better control of their positions. */
  position: relative;
}

#background {
  position: absolute;
  display: block;
  left: 105px;
}

#gear {
  position: absolute;
  left: 105px;
}

#sisyphus {
  position: absolute;
  left: 190px;
}

#coin {
  position: absolute;
  right: 210px;
  top: 610px;
}
