/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

@import url('https://fonts.googleapis.com/css?family=Electrolize');

body {
  padding: 0;
  margin: 0;
}

#dialog {
  font-family: Electrolize;
  font-size: 20px;
  line-height: 30px;
}

#game {
  /* To have all the elements inside game id stay on top of each other and
  have a better control of their positions. */
  position: relative;
}

/* The canvas was placed behind all the other assets. */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

/* Resized the progressbar. */
#progressbar {
  width: 1221px;
  height: 45px;
}

#gear {
  position: absolute;
  left: 105px;
}

#sisyphus {
  position: absolute;
  left: 190px;
}

#coin {
  position: absolute;
  right: 210px;
  top: 585px;
  display: none;
}

#tax {
  font-family: Electrolize;
  font-size: 25px;
  position: absolute;
  right: 250px;
  top: 530px;
  color: white;
  display: none;
}
