/*********************************************

This is the style file for this project.

**********************************************/

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#circle {
  position: absolute;
  top: 35px;
  left: 35px;
  z-index: 6;
}

#title {
  display: block;
  position: absolute;
  width: 100%;
  top: 8vmax;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 2.8vmax;
  line-height: 3.5vmax;
}

h2 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vmax;
  line-height: 1.5vmax;
}

h3 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 2vmax;
  line-height: 2vmax;
}

#startingpoint {
  display: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: crimson;
  position: absolute;
  top: 480px;
  right: 610px;
}

#mark {
  display: none;
  color: #fff;
  font-size: 2vmax;
  position: absolute;
  top: -10px;
  left: 10px;
}
